/* style the body */
body {
  margin: 0;
  padding: 2rem;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;

  /* grid-template areas */
  grid-template-areas:
    "A A"
    "B B"
    "C D"
    "E E"
    "F F";
}

/* style thegrid areas and background colors */
#A {
     grid-area: A; 
     background: #f4cccc;
}
#B { 
    grid-area: B; 
    background: #f9cb9c; 
}
#C { 
    grid-area: C; 
    background: #fff2cc; 
}
#D { 
    grid-area: D; 
    background: #d9ead3; 
}
#E { 
    grid-area: E; 
    background: #c9daf8; 
}
#F { 
    grid-area: F; 
    background: #d9d2e9; 
}

/* for midium layout */
@media (min-width: 768px) {
  body {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "A A"
      "B C"
      "B D"
      "B E"
      "F F";
  }
}

/* for large layout */
@media (min-width: 1024px) {
  body {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      "A A A"
      "B C D"
      "B E E"
      "F F F";
  }
}

