@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

/* style for avg */
svg {
	border: 6px dotted grey;
	width: 70%;
	height: auto;
}

#barFill {
	width: 0;                  
	transition: all 0.5s;  
}   

svg:hover {
	cursor: pointer;
}

svg:active #barFill {
	width: 0; 
}

svg text {
	font-family: "Passion One", sans-serif;
}
